@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	font-family: "Andale Mono";
}

h1 {
	margin: 1em;
	margin-bottom: 1.5em;
	font-family: "Monaco";
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.sliders_wrap {
	width: 30%;
	min-width: 22em;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 1em;
  padding-left: 6em;
  margin-top: -2em;
}

.sliders_wrap h2 {
  margin-left: -3em;
}

.slider {
	margin-left: 3em;
    -webkit-appearance: none;
    width: 70%;
	min-width: 20em;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #a34729;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #a34729;
    cursor: pointer;
}

.dish {

}

.graph {
	display: inline-block;
  width: 32em;
  height: 32em;
  border: solid;
}
