@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
}

h1 {
	margin-bottom: 0px;
}

p.reference {
  font-size: 0.8em;
  margin-bottom: 0px;
}

p.copyright {
  font-size: 0.8em;
  margin-bottom: 3em;
}

cite {
  font-style: normal;
}

h3 {
  margin-top: 2em;
  margin-bottom: 0px;
}

h3#success_rate {
  font-size: 4em;
  margin: 0px;
}

h4 {
  margin-top: 0px;
  font-weight: normal;
  color: #777;
}

.sliders_wrap {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 1em;
  margin-top: -2em;
}

.slider {
	margin-left: 3em;
  -webkit-appearance: none;
  width: 70%;
	min-width: 20em;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #a34729;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #a34729;
  cursor: pointer;
}

.graph_wrap {
  display: inline-block;
}

.graph {
  width: 32em;
  height: 32em;
  border: 1px solid #CCC;
}

.caption {
  color: #808080;
}